

.chronologyComponent * {
    color: black;
}

.chronologyComponent {
    width: 100%;

    display: flex;
    justify-content: space-between;
    align-items: start;
    gap: 5vw;
}

.chronologyComponentContent h3 {
    font-size: 34px;
    font-weight: 600;
}

.chronologyComponentContent div {
    font-size: 24px;
}

.content {
    margin: auto;
    max-width: 1400px;
    background: white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 6vh 0;
    gap: 8vh;
}

.image {
    background-image: url("/image/about-techno-park-sec1-image1.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: calc(var(--index) * 20);
    height: calc(var(--index) * 20);
    border-radius: 12px;
}


@media (max-width: 1100px) {
    .chronologyComponent {
        flex-direction: column;
        align-items: start;
        justify-content: center;
        gap: 2vh;
    }

    .image {
        width: 80vw;
        height: 80vw;
    }

}
