.incubators {
    width: 100%;
    height: auto;
    padding-bottom: 10vh;
    padding-top: 10vh;
    top: 10vh;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.incubators_inner {

}

.incubators_title {
    text-align: center;
}

.title__span span {
    font-size: 42px;
    line-height: 1.23;
    font-weight: 600;
    color: #052555;
}

.incubators_description {
    margin-top: 40px;
    padding-bottom: 60px;
    text-align: center;
}

.description_text {
    width: 100%; /* Set width to 100% */
    max-width: 1060px; /* Set a max-width if needed */
    margin: 0 auto; /* Center the element horizontally */
    font-size: 20px;
    line-height: 1.45;
    font-weight: 300;
    color: rgb(5, 37, 85);
}

.description_text span {

}

.image__container {
    width: 100%;
    height: auto;
    margin: 0 auto;
    display: flex;
    justify-content: center; /* Center the content horizontally */
    align-items: center; /* Center the content vertically */
}

.image__wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; /* Align items horizontally */
    gap: 20px; /* Space between items */
}

.image {
    flex: 0 0 450px; /* Don't grow, don't shrink, start at 450px width */
    height: 350px;
}


.image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


@media (max-width: 1145px) {
    .container {
        max-width: 560px;
    }
    .image {
        flex: 0 0 300px; /* Don't grow, don't shrink, start at 450px width */
        height: 250px;
    }
}