
.ourProjects {
    width: 100%;
    gap: 5vh;
    margin-bottom: 10vh;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.ourProjects button {
    width: 250px;
    height: 45px;
    border: none;
    -webkit-border-radius: 100px;
    background-color: #052555;
    color: #ffffff;
    font-family: 'TildaSans', Arial, sans-serif;
    font-size: 15px;
    font-weight: 600;
}

.ourProjects h3 {
    font-family: 'TildaSans', Arial, sans-serif;
    font-weight: 600;
    color: #052555;
}

.ourProjects p {
    font-size: 20px;
    font-family: 'TildaSans', Arial, sans-serif;
    font-weight: 300;
    color: #052555;
}

.proj1 {
    padding: 0 2vw ;
    width: 1600px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 5vw;
}

@media (max-width: 1700px) {
    .proj1 {
        width: 1100px;
    }
}

@media (max-width: 1200px) {
    .proj1 {
        width: 800px;
    }
}

@media (max-width: 900px) {
    .proj1 {
        width: 100vw;
        flex-direction: column;
        align-items: stretch;
        justify-content: stretch;
    }
}


.ourProjects h1 {
    text-align: center;
    font-size: 45px;
    font-weight: 600;
    font-family: 'TildaSans', Arial, sans-serif;
    color: #052555;
    padding: 130px 0 40px 0;
}


.img {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    flex: 1;
    position: relative;
    height: auto;
    aspect-ratio: 16 / 9;
    border-radius: 12px;
}

.img:before{
    border-radius: 12px;
    content: "";
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.28);
}



.container1{
    flex: 1;
}

.container1 p{
    width: 100%;
}

@media (max-width: 1000px) {
    .ourProjects {
        flex-direction: column;
    }

    .container1 div p {
        width: 100%;
        font-size: 14px;
    }
}