.newsMain{
    width: 100%;
}

.container{
    margin: 0 auto;
    width: 750px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top:  1px solid lightgray;
    padding: 20px 0;
}

.img{
    width: 200px;
    height: 160px;
    object-fit: cover;
    top: 0;
    left: 0;
    margin-right: 40px;
}


.content h5{
    font-size: 16px;
    font-family: 'TildaSans',Arial,sans-serif;
    font-weight: 600;
    color: #052555;
    padding-bottom: 10px;
}

.content p{
    font-size: 14px;
    font-family: 'TildaSans',Arial,sans-serif;
    font-weight: 300;
    color: #052555;
}


.contentBottom span{
    font-size: 12px;
    font-family: 'TildaSans',Arial,sans-serif;
    font-weight: 600;
    color: #052555;
    padding-right: 20px;
}

.contentBottom {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}


@media (max-width: 1000px){
    .container{
        width: 90%;
        flex-direction: column;
        padding: 40px 0;
    }

    .img{
        width: 100%;
        height: 30%;
        object-fit: contain;
        padding-bottom: 30px;
    }

}