.slider {
    width: 100%;
    height: auto;
    background-color: aqua;
}

.my_slider_progress {
    background: #ccc;
}

.my_slider_progress_bar {
    background: greenyellow;
    height: 2px;
    transition: width 400ms ease;
    width: 0;
}
