.ourGuests {
    width: 100%;
    height: auto;
    color: rgb(5, 37, 85);
    padding: 2vh 0;
}

.ourGuests__inner {
    padding: 0 20px;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.ourGuests__title {
    margin-bottom: 5vh;
    text-align: center;
}

.ourGuests__title span {
    font-size: 24px;
    line-height: 1.23;
    font-weight: 600;
}

.ourGuests__cards {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    gap: 5vh;
}

.ourGuests__card {
    width: 300px;
    height: auto;
}

.card__text_wrapper {
    margin-top: 2vh;
}

.card__text_name {
    font-size: 24px;
    line-height: 1.35;
    font-weight: 600;
    text-align: center;
    color: #052555;
}

.card__text_description {
    font-size: 16px;
    line-height: 1.55;
    font-weight: 300;
    margin-top: 1vh;
    text-align: center;
    color: #052555;
}

.card__image_wrapper{
    height: 350px;
    /*border: 1px solid rgba(128, 128, 128, 0.45);*/
    overflow: hidden;
}

.card__image_wrapper img {
    max-width: 100%;
    width: 100%;
}
