html,
body {
	height: 100%;
	margin: 0;
}

.container {
	display: flex;
	justify-content: center;
	align-items: center; /* Центрирование по вертикали */
	min-height: 100vh; /* Занимает всю высоту экрана */
	background-color: #f5f5f5;
}

.formWrapper {
	background-color: white;
	padding: 40px; /* Увеличил padding */
	border-radius: 10px;
	box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
	max-width: 500px; /* Увеличил max-width */
	width: 100%;
}

.title {
	text-align: center;
	font-size: 34px; /* Увеличил размер текста */
	font-weight: bold;
	margin-bottom: 30px; /* Увеличил отступ снизу */
	color: #2c3e50;
}

.form {
	display: flex;
	flex-direction: column;
}

.formGroup {
	margin-bottom: 20px; /* Увеличил отступ между полями */
}

label {
	font-size: 16px; /* Увеличил размер текста */
	color: #34495e;
	margin-bottom: 8px;
	display: block;
}

input {
	width: 100%;
	padding: 12px; /* Увеличил padding */
	border: 1px solid #ddd;
	border-radius: 5px;
	font-size: 18px; /* Увеличил размер текста */
	background-color: #f9f9f9;
	transition: border 0.3s ease;
}

input:focus {
	outline: none;
	border-color: #3498db;
	background-color: #fff;
}

.submitButton {
	background-color: #052555;
	color: white;
	padding: 14px 20px; /* Увеличил padding */
	border: none;
	border-radius: 5px;
	font-size: 18px; /* Увеличил размер текста */
	width: 100%;
	cursor: pointer;
	transition: background-color 0.3s ease;
}

.submitButton:hover {
	background-color: rgb(9, 43, 66);
}

@media (max-width: 768px) {
	.formWrapper {
		padding: 30px;
		width: 90%;
	}

	.title {
		font-size: 22px;
	}
}

.error {
	color: red;
	font-size: 16px;
	font-weight: semibold;
	margin-bottom: 10px;
}
