.mission{
    width: 100%;
    background-color: #f2f2f2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.mission h1{
    color: #052555;
    font-size: 64px;
    font-family: 'TildaSans',Arial,sans-serif;
    font-weight: 600;
    padding: 100px 0 20px 0;
}
.mission p{
    width: 50%;
    text-align: center;
    color: #052555;
    font-size: 20px;
    font-family: 'TildaSans',Arial,sans-serif;
    font-weight: 300;
    padding-bottom: 30px;
}

.video{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 70px;

}

.iframe{
    width: 50%;
    height: 55vh;
}


@media (max-width: 1000px) {
    .iframe{
        width: 90%;
        object-fit: contain;
    }

    .mission{
        width: 100%;
        padding: 0;
    }

    .mission h1{
        text-align: center;
        width: 100%;
        font-size: 30px;
    }
    .mission p{
        width: 90%;
        font-size: 16px;
    }
}
