.headerTop {
    width: 100%;
    background-color: rgba(5, 37, 85, 1);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.30);
    display: flex;
    align-items: center;
    padding: 17px 0;
}


.leftHeader {
    width: 20%;
    display: table-cell;
    vertical-align: bottom;
}

.leftHeader a {
    text-decoration: none;
}

.leftHeader a div {
    font-size: 24px;
    font-weight: 400;
    font-family: Arial, sans-serif;
    color: #ffffff;
    margin-left: 40px;
}


.rightHeader {
    width: 80%;
    display: flex;
    justify-content: right;
    padding-right: 10px;
}

.menu {
    display: flex;
    align-items: center;
    margin-right: 40px;
    gap: 60px;
}

.menu li {
    list-style-type: none;
}

.links {
    display: flex;
    justify-content: center;
}

.links span {
    color: #ffffff;
    font-size: 16px;
    font-weight: 600;
    font-family: Arial, sans-serif;
}

.links:hover ul {
    display: block;
}

.links ul {
    display: none;
    position: absolute;
    list-style-type: none;
    padding: 0;
    margin: 0;
    background-color: aliceblue;
    border-radius: 5px;
    margin-top: 15px;
}

.links ul li {
    margin: 0;
    text-align: center;
    padding: 5px 20px;
}

.links ul li a {
    color: black;
    text-decoration: none;
    font-size: 14px;
}

.menu li a {
    text-decoration: none;
    color: #ffffff;
    font-size: 16px;
    font-weight: 600;
    font-family: Arial, sans-serif;
}


.mobileMenu {
    display: none;
    flex-direction: column;
    cursor: pointer;
}

.bar {
    width: 25px;
    height: 3px;
    background-color: #fff;
    margin: 6px 0;
}

@media screen and (max-width: 768px) {

    .leftHeader,
    .rightHeader {
        width: 50%;
    }

    .menu {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 60px;
        left: 0;
        background-color: rgba(5, 37, 85, 1);
        width: 100%;
    }


    .menu:active {
        display: flex;
    }

    .menu li {
        text-align: left;
        padding: 10px;
        white-space: nowrap;
    }

    .menu li a {
        color: #ffffff;
    }

    .mobileMenu {
        display: flex;
    }
}

.burger {
    display: none;
    position: relative;
    z-index: 50;
    align-items: center;
    justify-content: flex-end;
    width: 50px;
    height: 26px;
}

.burger span {
    display: block;
    height: 3px;
    width: 80%;
    transform: scale(1);
    background: #fff;
}

.burger::after,
.burger::before {
    content: '';
    position: absolute;
    height: 3px;
    width: 100%;
    background: #fff;
    transition: all .3s ease;
}

.burger::before {
    top: 0;
}

.burger::after {
    bottom: 0;
}


.mobileMenu {
    display: none;
    font-size: 30px;
}

@media (max-width: 100%) {
    .header .menu {
        display: none;
    }
}

@media (max-width: 1200px) {

    .leftHeader,
    .rightHeader {
        width: 50%;
    }
}

@media (max-width: 1000px) {
    .header .menu {
        display: none;
    }

    .burger {
        display: flex;
    }
}

@media (max-width: 768px) {
    .header {
        width: 100%;
    }
}