.container {
    max-width: 100%;
    margin: 0 auto;
    padding: 0 50px;
}


.header {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 10;
}

.header::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(5, 37, 85, 1);
    z-index: 2;
}

.header__body {
    position: relative;
    z-index: 2;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
}


.header__logo {
    text-decoration: none;
    flex: 0 0 180px;
    font-size: 24px;
    font-weight: 400;
    font-family: Arial, sans-serif;
    color: #ffffff;
    position: relative;
    z-index: 3;
}

.header__burger {
    display: none;
}

.header__menu {}

.header__list {
    display: flex;
    position: relative;
    z-index: 2;
}

.header__list li {
    list-style-type: none;
    margin: 0 0 0 20px;
}

.header__link {
    color: #ffffff;
    font-size: 16px;
    font-weight: 600;
    font-family: Arial, sans-serif;
    text-decoration: none;
}

@media (max-width: 1000px) {
    .header__burger {
        display: block;
        position: relative;
        width: 30px;
        height: 20px;
        z-index: 3;
    }

    .header__burger span {
        position: absolute;
        background-color: #fff;
        left: 0;
        width: 100%;
        height: 2px;
        top: 9px;
        transition: all 0.3s, ease 0s;
    }

    .header__burger::before,
    .header__burger::after {
        content: '';
        background-color: #fff;
        position: absolute;
        width: 100%;
        height: 2px;
        left: 0;
        transition: all 0.3s, ease 0s;
    }

    .header__burger::before {
        top: 0;
    }

    .header__burger::after {
        bottom: 0;
    }


    .header__burger.active span {
        transform: scale(0);
    }

    .header__burger.active::before {
        transform: rotate(45deg);
        top: 9px;
    }

    .header__burger.active::after {
        transform: rotate(-45deg);
        bottom: 9px;
    }

    .header__menu {
        position: fixed;
        top: -200%;
        left: 0;
        width: 100%;
        /* height: 50%; */
        overflow: auto;
        background-color: rgba(5, 37, 85, 1);
        /* padding: 70px 10px 20px 10px; */
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        padding-top: 70px;
        transition: all 0.3s ease 0s;
    }

    .header__menu.active {
        top: 0;
    }

    .header__list {
        display: block;
    }

    .header__list li {
        list-style-type: none;
        margin: 20px 0;
    }

    .header__link {
        font-size: 24px;
        font-weight: 400;
        font-family: Arial, sans-serif;
    }
}