.news {
    padding: 90px 0 45px;
}

.news__container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.news__inner {
}

.news__text_wrapper {
    max-width: 1160px;
    width: 100%;
    margin: 0 auto;
}

.news__text {
    margin-bottom: 80px;
    text-align: center;
}

.news__text strong {
    font-size: 42px;
    line-height: 1.23;
    color: rgb(5, 37, 85);
}

.title {
    text-align: center;
    margin: 2em 0;
    font-size: 4em;
}

.newsCategory__inner {
    display: flex;
    justify-content: center;
}

.newsCategory__container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.menu {
    list-style: none;
    margin-bottom: 40px;
}

.menu li {
    display: inline-block;
    margin-right: 10px;
    cursor: pointer;
    font-weight: 400;
    border: 1px solid #052555;
    border-radius: 40px;
    font-size: 16px;
    line-height: 1.35;
    padding: 6px 18px 6px;
}

.menu li.active {
    background-color: #052555;
}

.menu li.inactive {
    background-color: #fff;
}

.menu li.active a {
    color: #ffffff;
    opacity: .7;
    text-decoration: none;
}

.menu li.inactive a {
    color: #052555;
    text-decoration: none;
}

.news_grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 2em;
    justify-content: center;
    justify-items: center;
    max-width: 1100px;
    margin: 0 auto;
}

.article {
    background: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);
    width: 500px;
    border-radius: 8px;
    overflow: hidden;
    text-decoration: none;
    color: #000;
    padding-bottom: 0.5em;
    transition: .3s;
    display: flex;
    flex-direction: column;
}

.article:hover {
    box-shadow: 0 0 20px rgba(0, 0, 0, .2);
}

.article_content {
    padding: 0.5em 1em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    gap: 1em;
    flex-grow: 1;
}

.article_source {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 0.5em;
}

.article_image {
    overflow: hidden;
    margin-bottom: 0.5em;
    position: relative;
    height: 15em;
}

.article_image img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    transition: .7s ease-in-out;
}

.article:hover .article_image img {
    transform: translate(-50%, -50%) scale(1.1);
}

.article p {
    line-height: 25px;
    color: #555;
}

@media screen and (max-width: 1330px) {
    html {
        font-size: 14px;
    }

    .news_grid {
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (max-width: 900px) {
    .news_grid {
        grid-template-columns: 1fr;
    }
}