/* HeaderImage.module.css */

:root{
    --index: calc(1vh + 1vw)
}

.parallaxContainer {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    display: flex;
}

.parallaxImage {
    z-index: -1;
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
    /*will-change: transform;*/
    /*transform: translateZ(0);*/
}

.parallaxImage::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.75);
}

.parallaxContent {
    position: absolute;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.parallaxContent * {
    color: white !important;
}

.parallaxContent h1 {
    max-width: 80vw;
    font-size: 34px;
    font-weight: 700;
}

.parallaxContent p {
    font-size: 18px;
    font-weight: 300;
    max-width: 60vw;
    margin: auto;
}

@media only screen and (max-width: 600px) {
    .parallaxContent p {
        font-size: 16px;
    }
}

/*.scrollArrowWrapper {*/
/*    position: absolute;*/
/*    bottom: 0;*/
/*    left: 50%;*/
/*    transform: translateX(-50%);*/
/*    display: flex;*/
/*    justify-content: center;*/
/*    align-items: center;*/
/*    width: 100%;*/
/*    padding-bottom: 20px;*/
/*}*/

/*.scrollArrow {*/
/*    text-align: center;*/
/*}*/

/*.scrollArrow a {*/
/*    display: inline-block;*/
/*    padding: 10px;*/
/*    border: 2px solid #000;*/
/*    border-radius: 50%;*/
/*    text-decoration: none;*/
/*    color: #ffffff;*/
/*    transition: background-color 0.3s, color 0.3s;*/
/*}*/

/*.scrollArrow a:hover {*/
/*    background-color: #000;*/
/*    color: #fff;*/
/*}*/
