.parallax-container {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    display: flex;
}

.parallax-image {
    z-index: -1;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
    will-change: transform;
    transform: translateZ(0);
}

.parallax-image::after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.82); /* Используйте rgba для задания цвета с прозрачностью */
}

.parallax-content {
    position: absolute;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.parallax-content * {
    color: white !important;
}

.parallax-content h1{
    font-size: 68px;
    font-weight: 700;
}
.parallax-content p{
    font-size: 24px;
    font-weight: 300;
    max-width: 700px;
    margin: auto;
}

.scroll-arrow-wrapper {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding-bottom: 20px; /* Adjust the padding as needed */
}

.scroll-arrow {
    text-align: center;
}

.scroll-arrow a {
    display: inline-block;
    padding: 10px;
    border: 2px solid #000;
    border-radius: 50%;
    text-decoration: none;
    color: #ffffff;
    transition: background-color 0.3s, color 0.3s;
}

.scroll-arrow a:hover {
    background-color: #000;
    color: #fff;
}
