.ourActivities{
    width: 100%;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: start;
    padding: 100px 0;
}

.rightBox, .leftBox{
    width: 30%;
}

.leftBox h2{
    color: #052555;
    font-size: 34px;
    font-family: 'TildaSans',Arial,sans-serif;
    font-weight: 600;
    padding-bottom: 20px;
}

.leftBox p{
    color: #052555;
    font-size: 20px;
    font-family: 'TildaSans',Arial,sans-serif;
    font-weight: 300;
    padding-bottom: 20px;
}

.rightBox span{
    color: #053785;
    font-family: 'TildaSans',Arial,sans-serif;
    font-weight: 300;
    font-size: 15px;
}

.instLink span{
    color: #052555;
    font-size: 20px;
    font-family: 'TildaSans',Arial,sans-serif;
    font-weight: 300;
}

.instLink a{
    color: #ff8562;
    font-size: 20px;
    font-family: 'TildaSans',Arial,sans-serif;
    font-weight: 300;
    text-decoration: none;
}
.instLink a.no-color-change:active {
    text-decoration: none;
    color: inherit;
}

.video{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 70px;
    padding: 0;
}

.iframe{
    width: 100%;
    height: 32vh;
}


@media (max-width: 1000px){
    .ourActivities{
        flex-direction: column;
        align-items: center;
    }
    .leftBox{
        width: 90%;
        padding-bottom: 50px;
    }
    .rightBox{
        width: 90%;
    }
}