.newsCategory{
    margin-top: 7vh;
}
.newsCategory__inner {
    display: flex;
    justify-content: center;
}

.newsCategory__container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.menu {
    list-style: none;
    margin-bottom: 40px;
}

.menu li {
    display: inline-block;
    margin-right: 10px;
    cursor: pointer;
    font-weight: 400;
    border: 1px solid #052555;
    border-radius: 40px;
    font-size: 16px;
    line-height: 1.35;
    padding: 6px 18px 6px;
}

.menu li.active {
    background-color: #052555;
}

.menu li.inactive {
    background-color: #fff;
}

.menu li.active a {
    color: #ffffff;
    opacity: .7;
    text-decoration: none;
}

.menu li.inactive a {
    color: #052555;
    text-decoration: none;
}
