/* Cooperation Top */

.footer-top {
    position: relative;
    width: 100%;
    height: 100vh;
    padding: 100px 0;
    background-image: url(/public/image/cooperation.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    z-index: 0;
}

.footer-top::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}


.footer-top h1{
    z-index: 0;
    color: #fff;
    font-weight: 600;
    font-family: Arial, sans-serif;
}

.footer-top p{
    z-index: 0;
    width: 40%;
    text-align: center;
    color: #fff;
    font-size: 18px;
}

.footer-top input{
    z-index: 0;
    width: 26%;
    padding: 20px;
    margin-top: 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
}

.footer-top button{
    z-index: 0;
    width: 28%;
    font-size: 16px;
    margin-top: 20px;
    padding: 20px 0;
    border: none;
    border-radius: 5px;
    background-color: #052555;
    color: #ffffff;
    font-size: 16px;
    font-weight: 600;
    font-family: Arial, sans-serif;
}
