.lifeCycle{
    width: 100%;
    background-color: white;
    padding: 35px 0 100px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.lifeCycle h1{
    text-align: center;
    font-size: 42px;
    color: #052555;
    font-family: 'TildaSans',Arial,sans-serif;
    font-weight: 700;
    padding-bottom: 100px;
}


.digitList{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 20px;
}

.figuredNum{
    width: 35px;
    height: 35px;
    background-color: #052555;
    color: white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.line{
    width: 13vw;
    height: 2px;
    background-color: lightgray;
}


.textList{
    width: 65vw;
    display: flex;
    justify-content: space-evenly;
}

.textList h6{
    width: 18%;
    color: #052555;
    padding-left: 40px;
    font-family: 'TildaSans',Arial,sans-serif;
    font-weight: 600;
    font-size: 18px;
}



@media (max-width: 1000px){
    .lifeCycle h1{
        width: 100%;
        font-size: 30px;
    }
    .list{
        width: 100%;
        display: flex;
        justify-content: center;
    }
    .digitList{
        flex-direction: column;
        justify-content: space-evenly;
        padding: 0;
    }
    .line{
        width: 2px;
        height: 6vh;
    }

    .textList{
        flex-direction: column;
        justify-content: space-between;
    }

    .textList h6{
        width: 100%;
    }

}