.enactusKaz{
    width: 100%;
    height: 72vh;
    background-color: white;
    display: flex;
}

.enactusKaz div{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.enactusKaz div h2{
    width: 80%;
    font-size: 36px;
    color: #052555;
    font-family: 'TildaSans',Arial,sans-serif;
    font-weight: 600;
}
.enactusKaz div p{
    width: 80%;
    font-size: 20px;
    color: #053785;
    font-family: 'TildaSans',Arial,sans-serif;
    font-weight: 300;
}

.enactusKaz img{
    width: 50%;
    object-fit: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

@media (max-width: 1000px){
    .enactusKaz{
        height: 100%;
        flex-direction: column-reverse;
    }
    .enactusKaz div{
        width: 100%;
        padding: 90px 0;
    }

    .enactusKaz img{
        width: 100%;
    }

    .enactusKaz div h2{
        font-size: 32px;
    }
    .enactusKaz div p{
        font-size: 16px;
    }
}
