.office__activity {
    width: 100%;
    height: auto;
    color: rgb(5, 37, 85);
}

.office__activity_inner {
    padding: 90px 0;
}

.card__line_wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

.container {
    width: 1200px;
    margin: 0 auto;
}

.office__activity_title {
    text-align: center;
    margin-bottom: 90px;
}

.title__span_1 {
    margin-bottom: 20px;
}

.title__span_1 span {
    font-size: 42px;
    line-height: 1.23;
    font-weight: 600;
}

.title__span_2 span {
    font-size: 24px;
    line-height: 1.5;
    font-weight: 300;
}

.office__activity_card {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 45px 0;
}

.card_text_1 {
    width: 260px;
}

.card_text_1 span {
    font-size: 24px;
    line-height: 1.35;
    font-weight: 600;
}

.card_text_2 p {
    font-size: 20px;
    line-height: 1.55;
    font-weight: 300;
}

.card_text_2 {
    text-align: left;
    width: 760px;
}

.card__line {
    width: 1060px;
    height: 1px;
    background-color: #052555;
    opacity: 0.1;
}

.office__activity_cards {
    width: 1060px;
}
