.container {
    max-width: 1200px;
    margin: 0 auto;
    padding-bottom: 7vh;
    padding-top: 7vh;
}

.title{
    color: rgb(5, 37, 85);
    font-size: 42px;
    font-weight: 700;
    text-align: center;
}

.directions{
    margin-top: 12px;
    margin-bottom: 48px;
    text-align: center;
    color: rgb(5, 37, 85);
    font-size: 24px;
    font-weight: 300;
}


.items{
    display: flex;
    flex-direction: column;
    gap: 7vh;
}

.item{
    display: flex;
    gap: 15px;
}

.item_title{
    font-size: 24px;
    color: rgb(5, 37, 85);
    font-weight: 600;
    min-width: 300px;
}

.item_description{
    font-size: 20px;
    font-weight: 300;
    color: rgb(5, 37, 85);
}

.divider {
    height: 1px;
    background: #052555;
    opacity: .1;
}

.item_description ul{
    list-style-type: lower-latin;
    margin-left: -35px;
}


@media (max-width: 1145px) {
    .item{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .divider{
        align-self: stretch;
    }

    .items{
        margin: auto;
        max-width: 560px;

        align-items: center;
        justify-content: center;
    }
}