.about_ofe {
    width: 100%;
    height: auto;
    background: #fff;
    font-family: 'TildaSans', Arial, sans-serif;
}

.aboutOFE__title {
    font-size: 34px;
    line-height: 1.23;
    font-weight: 600;
    color: #052555;
}

.aboutOFE__paragraph {
    font-size: 16px;
    line-height: 1.55;
    font-weight: 300;
    color: #052555;
}

.container {
    max-width: 1200px;
    margin: auto;
}

.aboutOFE__inner {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5vh 0;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 2vw;
}

.aboutOFE__left_side, .aboutOFE__right_side {
    max-width: 560px;
    height: auto;
}

@media (max-width: 600px) {
    .aboutOFE__title {
        font-size: 24px;
    }

    .about_ofe {
        padding: 15px;
    }
}