.trainingFormat{
    width: 100%;
    height: 80vh;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.text{
    width: 550px;
    height: 550px;
    display: flex;
    flex-direction: column;
    align-items: start;
    background-color: #f2f2f2;
    padding: 30px;
    overflow: hidden;
}

.text h2{
    width: 100%;
    font-size: 36px;
    color: #052555;
    font-family: 'TildaSans',Arial,sans-serif;
    font-weight: 700;
    padding-bottom: 16px;
    flex-shrink: 0;
}

.line{
    width: 50px;
    height: 3px;
    background-color: #062d98;
}

.text p{
    font-size: 20px;
    color: #052555;
    font-family: 'TildaSans',Arial,sans-serif;
    font-weight: 300;
    flex-shrink: 0;
    padding-top: 20px;
}


.img{
    width: 640px;
    height: 550px;
    object-fit: cover;
    top: 0;
    left: 0;
}

@media (max-width: 1000px){
    .trainingFormat{
        height: 100%;
        flex-direction: column;
        padding: 100px 0;
    }
    .text{
        width: 80%;
        height: 50%;
        padding: 20px;
        margin-bottom: 20px;
    }
    .text h2{
        font-size: 30px;
    }
    .text p{
        font-size: 16px;
    }
    .trainingFormat  img{
        width: 80%;
        height: 50%;
    }
}