/* ProjectsPage.module.css */

.projectsPage main {
    background: #fff;
}

.projectsPageContent {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-size: calc(var(--index));
    max-width: 1200px;
    padding: 0 1vw;
    font-weight: 600;
    gap: calc(var(--index) * 2);
    margin: auto;
}

.projectsPageContentTitle {
    color: #000;
}

.projectList {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: calc(var(--index));
    flex-wrap: wrap;
    margin: auto;
}
