main{
    width: 100%;
    background: #fff;
    padding: 135px 0;
}

.content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    font-size: 42px;
    font-weight: 600;
    gap: 50px;
}

.content-title{
    color: #000;
}


.project-list{
    display: flex;
    gap: 50px;
}