.entrepreneurship{
    width: 100%;
    background-color: white;
    padding: 100px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.entrepreneurship h1{
    text-align: center;
    font-size: 42px;
    color: #052555;
    font-family: 'TildaSans',Arial,sans-serif;
    font-weight: 700;
    padding-bottom: 100px;
}

.entrepreneurship ul{
    list-style-type: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-left: 0;
}
.item{
    width: 39.5%;
    padding-left: 90px;
    background: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT8AosxfM5BknGutocrgkYmG-3tUbxtd1Y8cQ&usqp=CAU");
    background-size: 50px;
    line-height: 1.5;
    background-repeat: no-repeat;
    background-position: left top;
}

.item h5{
    color: #052555;
    font-family: 'TildaSans',Arial,sans-serif;
    font-weight: 700;
    padding-bottom: 10px;
}

.item p{
    color: #052555;
    font-size: 18px;
    font-family: 'TildaSans',Arial,sans-serif;
    font-weight: 300;

}

@media (max-width: 1000px){
    .entrepreneurship h1{
        width: 90%;
        font-size: 30px;
        padding-bottom: 30px;
    }

    .entrepreneurship ul{
        width: 100%;
    }
    .item{
        width: 90%;
        padding-left: 50px;
        background-size: 35px;
    }
    .item h5{
        font-size: 16px;
    }
    .item p{
        font-size: 14px;
    }
}