.footer {
    background: #052555;
    color: #ffffff;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.55;
}

.container {
    margin: 0 auto;
    max-width: 1160px;
    height: 120px;
    padding: 0;
}

.footer__list {
    display: flex;
    justify-content: space-between;
}

.footer__main {
    display: table;
    height: 100%;
    width: 100%;
}

.footer__main_text {
    display: table-cell;
    vertical-align: middle;
}

.footer__main_text ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.footer__main_text a {
    color: #ffffff;
    text-decoration: none;
}
