@font-face {
    font-family: "Tilda Sans";
    font-style: normal;
    font-weight: normal;
}

.footer {
    padding: 25px;
    color:#fff;
    font-family:  'century Gothic';
    font-weight: bold;
    background-color: #052555;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
}
.social a{
    margin-right: 2px;
    color:#fff;
    font-size:35px;
}
.inst{
    margin-top: 6px;
}

.social{
    margin-left: 170px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.social a:hover{

    color: lightgray;
    transition: all .2s linear;
}
.container{

    display: flex;
    justify-content: space-around;
}