.becomePart{
    width: 100%;
    height: 100vh;
    display: flex;
    background-color: white;
}

.image{
    width: 42%;
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.image::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
}

.inputInfo{
    width: 58%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    padding-left: 6vw;
    padding-top: 14vh;
    padding-bottom: 14vh;
    gap: 5vh;
}

.inputInfo h1{
    color: #052555;
    font-family: 'TildaSans',Arial,sans-serif;
    font-weight: 600;
    font-size: 40px;
}


.input{
    width: 90%;
    height: 50px;
    border: none;
    border-bottom: 1px solid #052555;
    outline: none;
}

.radios{
    display: flex;
    flex-direction: column;
    align-items: start;
}


.radios label{
    display: flex;
    align-items: center;
    color: #052555;
    font-size: 20px;
    font-family: 'TildaSans',Arial,sans-serif;
    font-weight: 300;
}

.radioInput{
    width: 13px;
    height: 13px;
    transform: scale(1.5);
    background-color: #052555;
}

.radios label span{
    font-size: 15px;
    padding-left: 10px;
}

.textareaSpan{
    color: #052555;
    font-size: 20px;
    font-family: 'TildaSans',Arial,sans-serif;
    font-weight: 300;
}

.inputInfo textarea{
    width: 90%;
    height: 13%;
    border: none;
    border-bottom: 1px solid #052555;
    padding-top: 10px;
    outline: none;
}

.inputInfo button{
    width: 200px;
    min-height: 60px;
    border-radius: 40px;
    border: none;
    background-color: #052555;
    color: #ffffff;
    font-family: 'TildaSans',Arial,sans-serif;
    font-weight: 700;
    margin-top: 40px;
}


@media (max-width: 1000px){
    .becomePart{
        height: 100%;
        flex-direction: column;
        padding: 0 20px 20px 20px;
        gap: 5vh;
    }

    .inputInfo{
        width: 100%;
        height: 100vh;
        padding: 0;
        gap: 2vh;
    }
    .inputInfo h1{
        font-size: 30px;
        width: 100%;
        padding-top: 10px;
    }
    .image{
        width: 100%;
    }

    .input{
        width: 100%;
    }
    .inputInfo textarea{
        width: 100%;
    }
    .inputInfo button{
        padding: 0;
        margin-top: 40px;
    }
}