.ourTeam {
    width: 100%;
    height: auto;
    padding: 60px 0;
    background-color: #eeeeee;
}

.ourTeam__container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.ourTeam__title__wrapper {
    width: 100%;
    margin-bottom: 105px;
}

.ourTeam__title {
    font-size: 42px;
    line-height: 1.23;
    font-weight: 600;
    text-align: center;
}

.ourTeam__title__wrapper span {
    color: rgb(5, 37, 85);
}