.contacts {
    width: 100%;
    height: auto;
}

.contacts__container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    height: 672px;
}

.contacts__inner {
    display: flex;
    justify-content: space-around;
    padding: 60px 0 45px;
}

.contacts__left_side {
    width: 100%;
    max-width: 460px;
    height: 100%;
    margin: auto; /* This will center the element horizontally */
}

.left_side__description {
    margin-top: 35px;
    width: 100%;
    height: 100%;
}

.left_side__description p {
    margin: 0;
    padding: 0;
}

<<<<<<< HEAD:src/components/Contacts/Contacts.module.css
.left_side_description p:first-child span {
=======
.left_side__description p:first-child,
span {
>>>>>>> 2e46686 (in front of classNames added their class name like className__container and so on, and updated css file using this changes):src/Components/Contacts/Contacts.module.css
    font-size: 20px;
    line-height: 1.55;
    color: #052555;
}

.left_side__description a {
    font-size: 20px;
    color: #ff8562;
    text-decoration: none;
    font-weight: 300;
}

.left_side__title span {
    font-size: 42px;
    line-height: 1.23;
    color: #052555;
    font-weight: 600;
}

<<<<<<< HEAD:src/components/Contacts/Contacts.module.css
.left_side_partners p span {

=======
.left_side__partners p,
span {
>>>>>>> 2e46686 (in front of classNames added their class name like className__container and so on, and updated css file using this changes):src/Components/Contacts/Contacts.module.css
}

.left_side__address {
}

.contacts__right_side {
    width: 100%;
    max-width: 660px;
    height: 100%;
    display: flex;
    justify-content: flex-end;
}

.right_side__img {
    margin-left: 100px;
    background: url('../../../public/image/ofe_contact.png') center center /
        cover no-repeat;
    width: 560px;
    height: 560px;
}
